textarea{
	resize: vertical;
}
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.bs-docs-example {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.bs-docs-example > .descriptionForm {
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	border-radius: 4px 0 4px 0;
}
.panel1{
	margin-top: 10px !important;
}
.panel1 > .btn{
	height: 120px;
	box-shadow: 0 0 7px #666666;
	overflow: hidden;
	border-radius: 20px 0 20px 0;
}
.panel1 > .btn > .btntext{
	transition-duration: 1s;
	transition-property: all;
	font-size: 35px !important;
}
.panel1 > .btn:hover > .btntext{
	font-size: 40px !important;
}

.panel1 > .btn > i {
	font-size: 40px;
	margin: 0px;
	padding: 0px;
}
.panel1 > .btn > h3 {
	font-size: 25px;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}
.ajaxLoader{
	padding: 5px;
}
.ajaxLoader .hidden{
	display: inline !important;
}
.btn-group > .btn:first-child{
	border-radius: 10px 0 0 0;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle{
	border-radius: 0 0 10px 0;
}
.dropdown-menu{
	border-radius: 0 10px 0 10px;
	overflow: hidden;
}
#formLogin .descriptionForm{
	color: #FFFFFF;
	font-size: 16px;
	background-image: linear-gradient(to bottom, #FBB450, #F89406);
	padding: 8px;
	border-color: #FBB450;
	box-shadow: 1px 1px 3px #999999;
}
#formLogin .bs-docs-example{
	border-color: #FBB450;
	background-color: #F5F5F5;
	box-shadow: 0px 0px 3px #999999;
}
#formLogin {
	text-shadow: 1px 1px 3px #666666;
}